button,
a,
button:focus,
a:focus {
  outline: none;
}

.bg-imageOne {
  background: url('../images/home/image1.png') no-repeat;
  background-size: cover;
}

.bg-imageTwo {
  background: url('../images/home/image2.png') no-repeat;
  background-size: cover;
}

.bg-imageThree {
  background: url('../images/home/image3.png') no-repeat;
  background-size: cover;
}

.bg-imageFour {
  background: url('../images/home/image4.png') no-repeat;
  background-size: cover;
}

hr {
  border-radius: 3px;
}

.section-title {
  @apply font-bold text-primary font-serif text-2xl md:text-3xl lg:text-42px pt-14;
}
