.input-about {
  @apply h-65px appearance-none py-5 pl-7 border-none bg-grid3 rounded-15px w-full
    focus:outline-0 hover:outline-0 text-primary font-sans text-lg;

  &.rounded-l-none {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.pl-0 {
    padding-left: 0;
  }
}

.input-admin {
  @apply h-65px appearance-none p-5 border border-grid7 rounded-15px w-full
    focus:outline-0 hover:outline-0 text-primary font-sans text-lg;

  &.search {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
  }

  &.border-0 {
    border: 0;
  }

  &.textarea {
    height: auto;
  }

  &.h-10 {
    height: 40px;
  }
}

.input-outlined {
  @apply h-12 appearance-none py-5 pl-5 border border-grid7 rounded-15px w-full
    focus:outline-0 hover:outline-0 text-primary font-sans text-lg;

  &.select {
    background-image: url("../images/about/chevron.svg");
    background-position: calc(100% - 30px) calc(1em);
    background-repeat: no-repeat;
  }

  &.search {
    background-image: url("../images/cart/search.svg");
    background-position: calc(1em + 10px) calc(100% - 8px);
    background-repeat: no-repeat;
    padding-left: 5rem;
  }
}

.input-select {
  @apply h-65px appearance-none py-4 pl-7 border border-grid7 rounded-15px w-full
    focus:outline-0 hover:outline-0 text-primary font-sans text-lg;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url("../images/cart/calendar.svg");
  background-repeat: no-repeat;
  padding-right: calc(1em + 10px);
  z-index: 0;
}

input[type="date"]::before {
  content: attr(placeholder) " : ";
  white-space: pre;
}

input[type="date"]:focus::before {
  content: "" !important;
}

.select-chevron {
  background-image: url("../images/about/chevron.svg");
  background-position: calc(100% - 30px) calc(1em + 10px);
  background-repeat: no-repeat;
}

.input-search {
  background-image: url("../images/cart/search.svg");
  background-position: calc(1em + 10px) calc(100% - 15px);
  background-repeat: no-repeat;
  padding-left: 5rem;
}

.input-contact {
  @apply
    w-full pb-5 appearance-none border-b-3 border-grid7
    focus:outline-0 focus:placeholder-transparent
    hover:outline-0
    text-primary font-sans text-lg placeholder-primary;
}

.form-group {
  position: relative;
}

.line-b-input {
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  transition: 0.3s width ease-in-out;
}

.form-group input.input-contact:focus + .line-b-input,
.form-group textarea:focus + .line-b-input {
  width: 100%;

  @apply bg-secondary;
}
